{% extends 'base.html' %}
{% block content %}
    <div class="album py-0 bg-light">
        <div class="container">
             <div class="row">
                 {% for employee in employees %}
                     <div class="col-md-4">
                         <div class="card mb-4 shadow-sm">
                             <div class="card-body">
                                 <a style="font-style: italic; font-size: 25px">Информация о сотруднике:</a><br>
                                     <b>Имя: </b>{{ employee.name }}<br>
                                     <b>Фамилия: </b>{{ employee.surname}}<br>
                                     <img src="/media/{{ employee.img }}"  height ="70px"><br>
                                     <br>
                                     <div class="d-flex justify-content-between align-items-center">
                                         <div class="btn-group">
                                             <button type="button" class="btn btn-sm btn-outline-secondary"><a href="{% url 'createacc' employee.id %}">Выдать сотруднику</a></button>
                                             <button type="button" class="btn btn-sm btn-outline-secondary"><a href="{% url 'employee' employee.id %}">Информация</a></button>
                                         </div>
                                     </div>
                             </div>
                         </div>
                     </div>
                 {% endfor %}
             </div>
        </div>
    </div>
{% endblock %}